@media(max-width:1200px) {
  body {
    padding-top: 5.2rem;
  }
  .footer-align {
    text-align: center;
  }
  #map  {
    width: auto !important;
  }
}

@media(min-width:1201px) {
  body {
    padding-top: 9.2rem;
  }
}

body {
  font-family: 'Open sans', sans-serif !important;
}

.bg-green {background-color: #7fb714 !important;}
.bg-grey {background-color: #e0e0e0 !important;}
.bg-blue-grey {background-color: #37474f !important;}
.bg-white {background-color: white !important;}

.color-green {color: #7fb714 !important;}
.color-white {color: white !important;}
.color-blue-grey {color: #37474f !important;}
.color-grey {color: #e0e0e0 !important;}

.padding-top-lg {padding-top: 10rem;}
.padding-md {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container > p {
  font-size: 2rem;
}

.inline-block {
  display: inline-block;
}

.footer-header-margin {
  margin-bottom: 3rem;
}

.footer-item {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 1.5rem;
}

.footer-link > a {
  text-decoration: none;
  color: white;
}

.footer-link > a:hover {
  color: white;
}

.arial-font {
  font-family: Arial;
}

.size-auto {
  width: auto;
  height: auto;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.container-padding {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.w3-card,.w3-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); border-radius: 5px;}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before{content:"";display:table;clear:both}

.card {
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 5px;
  background-color: white;
  margin-bottom: 2rem;
}
.card-img, .img-fluid {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card-block {padding: 1.5rem;}

.btn {
  border-radius: 0 !important;
  padding: 1.2rem!important;
}
.btn-primary {
  background-color: #7fb714 !important;
}

.card:hover {
  box-shadow:0 5px 10px 0 rgba(0,0,0,0.2),0 5px 20px 0 rgba(0,0,0,0.19);
}

#chooseus {
  margin-top: 0 auto !important;
  margin-bottom: 0 auto !important;
}

.bg-drilling1 {
  background: url("../images/drilling1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 30rem;

.bg-drilling2 {
  background-image: url("../images/drilling2.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: cover;
  height: 20rem;

}
.col-md-1{
  margin-left: 3rem !important;
  width: 5rem !important;
}
