@media(max-width:1200px) {
  body {
    padding-top: 5.2rem;
  }
  .footer-align {
    text-align: center;
  }
  #map  {
    width: auto !important;
  }


}

@media(min-width:1201px) {
  body {
    padding-top: 9.2rem;
  }
}

@media(max-width:768px){
  .keplet {
    max-width: 100% !important;
    height: auto !important;
    vertical-align: middle;
    display: inline-block;
  }
  .keplet-szoveg {
    text-align: center;
  }
  .border-right-green {
    border-left: 2px solid #7fb714;
  }
  div.col-md-6.border-left.b-green.mobile {
    border-left-width: 3px;
  }
}

@media(min-width:769px) {
  .keplet-szoveg {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .border-right-green {
    border-right: 2px solid #7fb714;
  }

}

body {
  font-family: 'Open sans', sans-serif !important;
}

.bg-green {background-color: #7fb714 !important;}
.bg-grey {background-color: #e0e0e0 !important;}
.bg-light-grey {background-color: #f0f0f0 !important;}
.bg-blue-grey {background-color: #37474f !important;}
.bg-white {background-color: white !important;}

.color-green {color: #7fb714 !important;}
.color-white {color: white !important;}
.color-blue-grey {color: #37474f !important;}
.color-grey {color: #e0e0e0 !important;}

.padding-container-tech {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.padding-top-lg {padding-top: 10rem;}
.padding-md {
  padding-top: 2rem;
  padding-bottom: 2rem;
}



.container > p {
  font-size: 2rem;
}

.inline-block {
  display: inline-block;
}

.footer-header-margin {
  margin-bottom: 3rem;
}

.footer-item {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 1.5rem;
}

.footer-link > a {
  text-decoration: none;
  color: white;
}

.footer-link > a:hover {
  color: white;
}

.arial-font {
  font-family: Arial;
}

.size-auto {
  width: auto;
  height: auto;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.container-padding {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.w3-card,.w3-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); border-radius: 5px;}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before{content:"";display:table;clear:both}

.card {
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 5px;
  background-color: white;
  margin-bottom: 2rem;
}
.card-img, .img-fluid {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card-block {padding: 1.5rem;}

.btn {
  border-radius: 0 !important;
  padding: 1.2rem!important;
}
.btn-primary {
  background-color: #7fb714 !important;
}

.card:hover {
  box-shadow:0 5px 10px 0 rgba(0,0,0,0.2),0 5px 20px 0 rgba(0,0,0,0.19);
}

#chooseus {
  margin-top: 0 auto !important;
  margin-bottom: 0 auto !important;
}

.bg-drilling1 {
  background: url("../images/drilling1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 30rem;
}

.bg-talajfuro {
  background: url("../images/drilling1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 30rem;
}

.bg-drilling3 {
  background: url("../images/drilling3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 30rem;
}

.bg-drilling2 {
  background: url("../images/drilling2.JPG") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 30rem;
}

.col-md-1{
  margin-left: 3rem !important;
  width: 5rem !important;
}

.image-in-col {
  max-width: 100%;
  min-height: 10rem;
}

div.row > div.col-md-4.galery > img.img-responsive {
  width: 100% !important;
  height: auto !important;
}


/**********************************************************
Galéria formázása
**********************************************************/
.galery-item {
  position: relative;
  vertical-align: baseline;
}

.galery-item-preivew {
  position: relative;
  margin-bottom: 2rem;
}

.galery-item-preivew > img {
  display: block;
  width: 100%;
  height: auto;
  border: none;
}

.galery-item-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 2.5rem;
  opacity: 0;
  transform: scale(0);
  transition: all 0.2s;
}

.galery-item-overlay > .galery-item-description {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 2rem;
  text-align: center;
  transform: translateY(-50%);
}

/**********************************************************
Technológiáink navigációs sáv legörülő menüjének formázása
**********************************************************/

/*
A legördülő listának ne legyen bordere
A háttere szürke színű legyen > megegyező a navbar hátterével
A benne található szöveget jobbra zárjuk
*/
ul.dropdown-menu {
  border: none;
  background: #f8f8f8;
  text-align: right;
}

/*
A legördülő menü ha kinyílik a következő formázásokat alkalmazzuk:
- Border lekerekítése 2 pixelnyivel
- Felső margót állítunk be, így megfelelően jelenik meg a navbar nagy és kicsi állapotánál is
*/
.open > .dropdown-menu {
  border-radius: 2px;
  margin-top: 2rem;
}


.navbar-nav > li > .dropdown-menu {
  margin-top: 1rem !important;
}

.dropdown-menu {
  float: right;
}

.navbar-right .dropdown-menu {
  left: 0;
  right: auto;
}

.dropdown-menu > li > a {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.dropdown-menu > li > a:hover {
  background-color: white;
}

#map2 {
  width: 100%;
  height: 30rem;
}


/* Csíkos táblázat színes részének felülírása
-- Minden páratlan sor háttérszíne zöld legyen (#7fb714)
-- A páratlan sorokban a betűszín fehér (#000)
 */
.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #7fb714;
  color: white;
}

.border-left {
  border-left: 1px solid black;
}

.border-right {
  border-right: 1px solid black;
}

.b-green {
  border-color: #7fb714;
}

/*.protfolio-image {
  position: relative;
}

.portfolio-text {
  position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(29, 106, 154, 0.72);
color: #fff;
visibility: hidden;
opacity: 0;

/* transition effect. not necessary */
/*transition: opacity .2s, visibility .2s;
}

.protfolio-image:hover .portfolio-text {
  opacity: 1;
  visibility: visible;
}*/
