.div-image-flex {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

.div-image-flex div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
}

.div-image-flex div img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 400px) {
  .div-image-flex div { margin: 0; }
  .div-image-flex { padding: 0; }

}
